NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
NEXT_PUBLIC_PAYMOB_IFRAME_ID=
SENDGRID_API_KEY=
